<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userRepoImpl" class="hsl.devspace.app.corelogic.repository.user.UserRepositoryImpl">
        <property name="dataSource" ref="productionDataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="couponRepoImpl" class="hsl.devspace.app.corelogic.repository.coupon.CouponRepositoryImpl">
        <property name="dataSource" ref="productionDataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="categoryRepoImpl" class="hsl.devspace.app.corelogic.repository.category.CategoryRepositoryImpl">
        <property name="dataSource" ref="productionDataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="feedbackRepoImpl" class="hsl.devspace.app.corelogic.repository.feedback.FeedbackRepositoryImpl">
        <property name="dataSource" ref="productionDataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="guestRepoImpl" class="hsl.devspace.app.corelogic.repository.user.GuestRepositoryImpl">
        <property name="dataSource" ref="productionDataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="packageRepoImpl" class="hsl.devspace.app.corelogic.repository.Package.PackageRepositoryImpl">
        <property name="dataSource" ref="productionDataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>
</beans>