<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="connectionProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:connection.properties"/>
    </bean>

    <import resource="spring-config-server.xml"/>
    <import resource="session-factory-config.xml"/>
    <import resource="spring-config-beans.xml"/>
    <import resource="spring-config-error-msgs.xml"/>

</beans>