<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test1">
    <test name="Creepy">
        <classes>
            <class name="home.ContactUsControllerTest"/>
            <class name="home.HomeControllerTest"/>
            <class name="home.MenuControllerTest"/>
            <class name="home.RegisterControllerTest"/>
            <class name="home.UpdateUserControllerTest"/>
        </classes>
    </test>
</suite>