.categoryField {
    /*border-radius: 50px;*/
    border: 2px solid white;
    padding: 70px;
    width: 80%;
    height: 60%;
    position: absolute;
    left: 10%;
    top: 4%;
    background: white;
    /*padding-top: 5%;*/
}

label {
    /*color: white;*/
    font-size: 17px
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;

}

.modal {
    text-align: center;
    padding: 0!important;
}