
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../images/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.container{
    width:60% ;
}
.panel-default > .panel-heading {
    background-color: rgba(255, 220, 172, 0.48);
    height: 70px;
    font-weight: bold;
    padding: 20px 0 20px 0;
}
.panel-title{
    font-size: 20px;
}
.form-box {
    margin-top: 10px;
    width: 70%;
}
.default-panel-headings{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
}

.brand,
.address-bar {
    display: none;
}


.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 2px;
        color: #fff;
    }

    .navbar-default {
        border: none;
        background: transparent;
        /*background: rgba(255,255,255,0.9);*/
    }

    .nav>li>a {
        padding: 25px;
    }

    .navbar-nav>li>a {
        line-height: 20%;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}





