

.form-horizontal .control-label, .control-label{

    /*vertical-align:middle;*/
    /*text-align: left;*/
}

.form-group{
    padding-bottom: 0px;
    padding-top:1px ;
}


button.btn {
    height:40px;
    margin: 0;
    padding: 0 20px 20px 20px ;
    vertical-align: middle;
    background-color: rgba(74, 103, 0, 0.5);
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;

}
button.btn:hover { opacity: 0.6; color: #fff; }


.nav-pills > li.active > a, .nav-pills > li.active > a:focus  {
    color: rgb(255, 255, 255);
    /*background-color: #7aad74;*/
    background-color: rgba(74, 103, 0, 0.5);
}
.nav-pills > li.active > a:hover{
    color: #0b0909;
    background-color: rgba(69, 141, 19, 0);

}
/*
.nav > li > a > {
    padding: 5px 10px 10px 10px;

    *//*height: px;*//*
    margin: 0 5px 10px 5px;
    font-size: large;
    font-weight: 700;

}*/
.nav > li > a {
    padding: 5px 10px 10px 10px;
    /*height: px;*/
    margin: 0 5px 10px 80px;
    font-size: large;
    font-weight: 700;
    color: #0d630d;
}