#panelAddItem{
    margin-left: 20%;
}
.btnAddItem{
    font-weight: bold;
    background-color: rgb(4, 84, 6);
    border-color: rgb(4, 84, 6);
    color: #e7ce98;
}
.itemSearchBar{
    margin-top: 10px;
}
#add-item-form-box{
    margin-top: 0px;
    width: 60%;
    margin-left: 20%;
}
#edit-item-form-box{
    margin-top: 0px;
    width: 70%;
    margin-left: 15%;
}
#view-item-form-box{
    margin-top: 0px;
    width: 90%;
    margin-left: 5%;
}
#view-pkg-form-box{
    margin-top: 0px;
    width: 80%;
    margin-left: 10%;
}
#add-pkg-form-box{
    margin-top: 0px;
    width: 60%;
    margin-left: 20%;
}
#edit-pkg-form-box{
    margin-top: 0px;
    width: 60%;
    margin-left: 20%;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    width: auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding: 0px 10px;
    border-bottom: none;
}
.default-panel-headings{
    color: #e7ce98;
}
.itemList > a,
.itemList > .glyphicon {
    color:red;
}
.list-group-item > .badge{
    background-color: #bababa;
    color: red;
}
.item-modal-header-style{
    color: #e7ce98;
    background: #045406;
    font-weight: bolder;
    font-size: 20px;
}
.input-group-error{
    color: red;
    font-weight: bolder;
    font-style: italic;
    font-size: 12px;
}
.invalid-input{
    border: 2px solid red;
}
.valid-input{
    border: solid 2px green;
}
.rmv-pkg-Badges {
    background-color: #bababa;
    color: red;
    font-size: small;
}
.rmv-pkg-Badges > a{
    color: red;
}
.edit-pkg-Badges {
    background-color: #bababa;
    color: #0019ea;
    font-size: small;
}
.edit-pkg-Badges > a{
    color: blue;
}
.price{
    text-align: right;
}
.item-tbl-row{
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 4px;
    margin: auto;
}
.item-tbl-hdr{
    background-color: rgba(204, 204, 209, 0.81);
    border-color:  rgba(204, 204, 209, 0.81);
    text-align: center;
}
.qty-spinner{
    width: 65px;
}
.add-status {
    background-color: #e7ce98;
    color: green;
    padding: 4px 12px;
    border-radius: 5px;
    font-weight: bolder;
    float: inherit;
}