/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);*/

table{
    background: white;
    text-align: center;
}

th{
    text-align: center;
}

.tableposition{
    position: absolute;
    top: 20%;
    left: 10%;
}