/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);*/

table{
    background: white;
    text-align: center;
}

th{
    text-align: center;
}



.footerposition{
    position: absolute;
    top: 100%;
    bottom:0;
}

.viewcategorysize{
    width: 80%;
    position: absolute; left: 50%;
    top: 19%;
}
