@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body{
    background: url(../images/brown-wallpaper.jpg);
    background-size: cover;
}
.navbar {
    background-color: #ffffff;
    background-size: auto;
}
footer {
    display: block;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
#footer{
    background:#ffffff;
    width:100%;
    height:75px;
    position:absolute;
    bottom:0;
    left:0;

}
p{
    font-weight: 200;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00529B;

}
.box{
    align-content: center;
    width: 800px;
    margin:0 auto;
}
.datalabel{
    color: burlywood;
    font-size: large;
}
.detailinput{
    width: 400px;

}
.location p{
    font-size: larger;
    color: #ffffff;
}
.error-labels{
    color: #ff513c;
    font-size: smaller;
    font-weight: lighter;
}
