/*@import url(https://fonts.googleapis.com/css?family=Lato:400,700);*/

h1, h2, h3, h4, h5 {
    font-family: LatoLight;
    font-weight: 400;
}

p, label, th, td {
    font-family: OpenSans !important;
    font-weight: 400;
}

.main-div {
    text-align: center;
}

.login-card {
    /*width: 300px;*/
    min-height: 400px;
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.section {
    max-width: 1500px;
    min-width: 500px;
    display: inline-block;
    background-color: #efefef;
    margin: 0px auto 0px;
    margin-top: 10px;
    border-radius: 10px;
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    text-align: left;
}

#div-submit {
    display: block;
    float: right;
}

body {
    background-image: url(../images/brown-wallpaper.jpg);
}

.btn-editcart, .btn-editdelidetails, .btn-editpickdetails {
    width: 20%;
    margin-left: 75%;
}

.btn-agree, #btn-pay {
    width: 45%;
    margin-left: 25%;
}

#timepicker1, #timepicker2, #date {
    width: 100px;
    height: 20px;
}

.btn-submit-proceed {
    width: 45%;
    display: inline-block;
    float: right;
}

.btn-delivery-reset {
    width: 45%;
    display: inline-block;
    float: right;
    margin-right: 5px;
}

#btn-pay-popup, #btn-pay-cancel {
    width: 80px;
}

/*hr{
    color: black;
}*/

hr {
    height: 2px !important;
    border: 10px;
    /*box-shadow: 0 10px 10px -10px #8c8b8b inset;*/
    box-shadow: 0 10px 10px -10px #337AB7 inset;
}

.panel-body, .panel-heading {
    background-color: #efefef !important;
    border-color: #00529B !important;
}

.error-labels {
    color: red;
    font-weight: lighter;
    font-size: smaller;
    text-align: left;
    display: block;
}

/*.menu-images {
    border: groove;
}*/

.add-to-cart-spin {
    color: #000000;
    width: 45px;
    height: 25px;
}

.add-to-cart-label-qty {
    font-size: small;
}

table {
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.header-panel {
    display: inline-block;
}

.icons {
    width: 50px;
    height: 50px;
}

.icons2 {
    width: 200px;
    height: 200px;
}

#net-amount-text {
    text-align: center;
    text-decoration: underline;
    font-size: large;
    color: #286090;
}

#net-amount-field, #payment-amount-field {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: #0c75d2;
}

.carousel-arrows{
    color: #000000;
}

.cart-carousel-control {
    padding-top: 10%;
    width: 2%;
    height: 200px;
}

.summary-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.summary-row {
    display: table-row;
}

.summary-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #bfbfbf;
}

.summary-table-header {
    font-weight: bold;
    text-align: center;
}

.price-cell {
    text-align: right;
}

.qty-cell {
    text-align: center;
}

.badge {
    position: absolute;
    top: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1ea6c6;
    color: white;
    text-align: center;
}

.del {
    color: #ff2752;
}

.del:hover {
    color: #ff2752;
}

.txtarea-branch-address {
    resize: none;
}

.txtarea-delivery-description {
    resize: vertical;
}

/* Start-Hover zoom plugin styles */
.zoom {
    padding-left: 10px;
    padding-top: 10px;
    width: 220px;
    height: 220px;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.zoom img {
    display: none;
}

.zoomOverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
}

.payment-icon-headings {
    text-align: center;
}

/* End-Hover zoom plugin styles */

.menu-add-to-cart-btn{
    font-size: 10px;
}