@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.main-div {
    text-align: center;
}

.login-card {
    width: 300px;
    min-height: 400px;
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.section {
    max-width: 1500px;
    min-width: 500px;
    display: inline-block;
    background-color: #efefef;
    margin: 0px auto 0px;
    margin-top: 10px;
    border-radius: 10px;
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    text-align: left;
}

#div-submit {
    display: block;
    float: right;
}

body {
    background-image: url(../images/brown-wallpaper.jpg);
    font-family: 'Lato', sans-serif;
}

.btn-editcart, .btn-editdelidetails, .btn-editpickdetails {
    width: 20%;
    margin-left: 75%;
}

.btn-agree, #btn-pay {
    width: 45%;
    margin-left: 25%;
}

#timepicker1, #timepicker2, #date {
    width: 100px;
    height: 20px;
}

.btn-submit-proceed {
    width: 45%;
    display: inline-block;
    float: right;
}

h2, h3 {
    font-family: 'Lato', sans-serif;
}

.btn-delivery-reset {
    width: 45%;
    display: inline-block;
    float: right;
    margin-right: 5px;
}

#btn-pay-popup, #btn-pay-cancel {
    width: 80px;
}

hr {
    height: 2px !important;
    border: 10px;
    /*box-shadow: 0 10px 10px -10px #8c8b8b inset;*/
    box-shadow: 0 10px 10px -10px #337AB7 inset;
}

.panel-body, .panel-heading {
    background-color: #efefef !important;
    border-color: #00529B !important;
}

.error-labels {
    color: red;
    font-weight: lighter;
    font-size: smaller;
    text-align: left;
    display: block;
}

.contenthover {
    text-align: center;
    position: absolute;
    bottom: 15px;
    color: #ffcc33;
}

.menu-images {
    border: groove;
}

.add-to-cart-spin {
    color: #000000;
    width: 45px;
    height: 20px;
}

.add-to-cart-label-qty {
    font-size: small;
}

table {
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.header-panel {
    display: inline-block;
}

.icons {
    width: 50px;
    height: 50px;
}

#net-amount-text {
    text-align: center;
    text-decoration: underline;
    font-size: large;
}

#net-amount-field {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

.cart-carousel-control {
    padding-top: 10%;
    width: 2%;
    height: 200px;
}

.summary-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.summary-row {
    display:table-row;
}

.summary-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #bfbfbf;
}

.summary-table-header{
    font-weight: bold;
    text-align: center;
}

.price-cell{
    text-align: right;
}

.qty-cell{
    text-align: center;
}