body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('../images/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.9;
}

.container {
    width: 60%;
}

.home-title {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: #045406;
}

.panel-default > .panel-heading {
    /* background-color: rgb(165, 109, 57);*/
    /*background-color: rgba(4, 84, 6);*/
    background-color: rgb(36, 90, 3);
    height: 70px;
    font-weight: bold;
    padding: 20px 0 20px 0;
    color: #e7ce98;
}

.panel-title {
    font-size: 20px;
}

.panel-heading-title {
    /*float: left;*/
    text-align: left;
    font-size: 20px;
    margin-left: 20px;

}

.form-box {
    /*margin-top: 10px;*/
    margin-top: -30px;
    width: 70%;
    margin-left: 10px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.default-panel-headings {
    text-transform: uppercase;
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
    color: #e7ce98;
}


.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.brand {
    margin-top: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: normal;
    color: #045406;
    top: 1%;
    position: absolute; left: 50%;
}

.top-divider {
    margin-top: 0;
}

.img-left {
    float: left;
    margin-right: 25px;
}

.address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(175,212, 46);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(6, 6, 0);
}

.breadcrumb-menu {
    background-color: transparent;
    vertical-align: middle;

}

.breadcrumb-menu > li + li:before {
    color: #045411;
}

.breadcrumb-menu > li > a {
    color: #045411;
    font-size: medium;
}

.breadcrumbPosition{
    position: absolute; left: 50%;
    top: 9%;
}
.panel-default > .common-form-headings{
    height: 50px;
    padding: 10px 0 10px 0;
}


.footerposition{
    position: absolute; left: 50%;
    top: 99.5%;
    padding-top: 3%;
    text-align: center;
    z-index: 433;
    
}
.panel-sub-menu1{
    margin: 0 5px 10px 80px;
}
.panel-sub-menu2{
    margin: 0 5px 10px 130px;
}

