#view-order-breadcrumb-position{
    position: relative;
    margin-top: 40px;
    text-align: center;
}
#view-order-form-box{
    margin-top: 0px;
    width: 80%;
    margin-left: 10%;
}
#process-order{
    width: 90%;
    margin: 10px 10px 0 65px;
}
.pagination > li > a {
    color: #57ad06 !important;
    font-weight: bold !important;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    /* padding: 0 1.4em 1.4em 1.4em !important; */
    padding:15px 15px 0 0 !important;
    margin: 0 0 1.5em 0 !important;
}
#orderLegend {
    width: inherit;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 10px 20px 20px;
}
/*
fieldset.scheduler-border {

    margin: 0 0 1.5em 0 !important;
}*/
